@model Crowd_knowledge_contribution.Models.Domain
@{
    ViewBag.Title = "Domeniu";
}
<div class="custom-div">
    <h2>@ViewBag.Title</h2>
    <p>@Model.DomainName</p>
</div>

<form method="post" action="/Domains/Delete/@Model.DomainId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-danger" type="submit">Șterge domeniul</button>

</form>
<br />
<a class="btn btn-primary" href="/Domains/Index/">Afișare listă domenii</a>

<br />
<hr />
<br />

